# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# MS Visual studio stuff

*.sdf
*.sln
*.suo
*.log
*tlog
*.manifest
*.idb
*.pdb
*.vcxproj
*.filters
*.user
*.exp
*.cache
*.lastbuildstate
*.ipch
*.opensdf
*.unsuccessfulbuild

# Binary

*.exe
*.dll
*.lib
*.obj
